.vscode/*
!.vscode/extensions.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.env
.env.*
frontend/.env
frontend/.env.*

zzz.patch

.env
.env.*
frontend/.env
frontend/.env.*
